.column 
{
    /*Mobile First - so when asked to remove for devices below 992 , this is the default*/
 border: 1px solid #000;
 display:inline-block;   
 margin: 10px 0;
 width: 100%;
 height: 30px;
 background-color: #ae1af7;
}

/* Media Queries */

@media (min-width :992px) {
    .column {
        background-color: #0997d3;
        width: 30%;
        margin 10px;
    }
}
